.headerContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--headerBackground);
	padding: 2.4rem 1.6rem;
	position: relative;
}
.headerLogo {
	display: flex;
	flex: 1;
	justify-content: center;
}
.headerNav {
	flex: 1;
}

@media screen and (min-width: 800px) {
	.headerContainer {
		flex-direction: row;
		padding: 2.4rem 2.9rem;
		align-items: center;
	}
}
