.preview {
	margin: 0;
	padding: 0;
}
.preview__link:link,
.preview__link:visited {
	display: flex;
	align-items: center;
	padding: 1.5rem 3.25rem 1.5rem 0.25rem;
	transition: all 0.3s;
	border-right: 1px solid #fff;
	text-decoration: none;
}
.preview__link:hover {
	background-color: #f9f5f3;
	transform: translateY(-2px);
}
.preview__fig {
	flex: 0 0 5.8rem;
	border-radius: 50%;
	overflow: hidden;
	height: 5.8rem;
	width: auto;
	margin-right: 2rem;
	position: relative;
	backface-visibility: hidden;
}

.preview__title {
	font-size: 1.44rem;
	color: #f59a83;
	text-transform: uppercase;
	margin-bottom: 0.432rem;
	text-align: left;
	margin-top: 0;
}
.preview__publisher {
	font-size: 1.2rem;
	color: #968b87;
	text-transform: uppercase;
	margin: 0;
}
