.forkify__likes {
	flex: 1 1 65%;
	max-width: 65%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: relative;
	align-self: stretch;
	padding: 0 !important;
	order: 2;
}
@media screen and (min-width: 768px) {
	.forkify__likes {
		flex: 1 1 10%;
		max-width: 10%;
		order: unset;
	}
}
@media screen and (min-width: 1200px) {
	.forkify__likes {
		flex: 1 1 25%;
		max-width: 25%;
	}
}
.forkify__likes svg {
	width: 4rem;
	height: 4rem;
	fill: #f59a83;
}
.forkify__likes__list {
	position: absolute;
	right: -24px;
	top: 75px;
	z-index: 10;
	padding: 1.2rem 0;
	width: 38.4rem;
	background-color: #fff;
	box-shadow: 0 0.8em 5em 2em rgba(101, 90, 86, 0.1);
	/*visibility: hidden;*/
	opacity: 1;
	transition: all 0.5s 0.2s;
}
.forkifySearchResults {
	flex: 1 1 100%;
	max-width: 100%;
	padding: 3rem 2.4rem;
	background-color: #fff;
}
@media screen and (min-width: 1000px) {
	.forkifySearchResults {
		flex: 1 1 40%;
		max-width: 40%;
	}
}
.preview {
	margin: 0;
	padding: 0;
}
.preview__link:link,
.preview__link:visited {
	display: flex;
	align-items: center;
	padding: 1.5rem 3.25rem 1.5rem 1.25rem;
	transition: all 0.3s;
	border-right: 1px solid #fff;
	text-decoration: none;
}
.preview__link:hover {
	background-color: #f9f5f3;
	transform: translateY(-2px);
}
.preview__fig {
	flex: 0 0 5.8rem;
	border-radius: 50%;
	overflow: hidden;
	height: 5.8rem;
	width: auto;
	margin-right: 2rem;
	position: relative;
	backface-visibility: hidden;
}

.preview__title {
	font-size: 1.44rem;
	color: #f59a83;
	text-transform: uppercase;
	margin-bottom: 0.432rem;
	text-align: left;
	margin-top: 0;
}
.preview__publisher {
	font-size: 1.2rem;
	color: #968b87;
	text-transform: uppercase;
	margin: 0;
}
