.forkifyShopping {
	flex: 1 1 100%;
	max-width: 100%;
	padding: 3rem 2.4rem;
	display: flex;
	flex-direction: column;
	background-color: #fff;
}
@media screen and (min-width: 1200px) {
	.forkifyShopping {
		flex: 1 1 30%;
		max-width: 30%;
	}
}
